:root {
    --bg: #181825;
    --wi: #313244;
    --ho: #8d304c;

    /*
    --bg: #181825;
    --wi: #313244;
    --ho: #8d304c;
     */

    --text: white;

    --cbg: var(--bg);
    --cwi: var(--wi);
    --clk: var(--wi);
    --cho: var(--ho);
    --ctxt: var(--text);
    --ctt: var(--text);

    --blur: blur(0px);
    --alpha: transparent 0%;
    --alpha2: transparent 50%;

    --fil: none;
}

@media only screen and (hover: hover) {
    :root {
        --shadow: 0px 4px 8px #00000010;
        --radius: 16px;
        --radius-button: 16px;
        --radius-input: 16px;
    }
}

@media only screen and (hover: none) {
    :root {
        --shadow: 0px 1vw 2vw #00000010;
        --radius: 4vw;
        --radius-button: 4vw;
        --radius-input: 4vw;
    }
}

@keyframes FadeAnimation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes SlideAnimation {
    from {
        opacity: 1;
        transform: translateX(100%);
    }

    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes MSlideAnimation {
    from {
        opacity: 1;
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes BgAnimation {
    from {
        background: transparent;
    }

    to {
        background: color-mix(in srgb, var(--bg), var(--alpha2));
    }
}