:root {
    --bg: #181825;
    --wi: #313244;
    --ho: #8d304c;
    --text: white;

    --cbg: var(--bg);
    --cwi: var(--wi);
    --clk: var(--wi);
    --cho: var(--ho);
    --ctxt: var(--text);
    --ctt: var(--text);

    --blur: blur(20px);
    --alpha: transparent 40%;
    --darken: linear-gradient(#00000040, #00000040);

    --fil: none;
}

@media only screen and (orientation: landscape) {
    :root {
        --shadow: 0px 8px 8px #00000020;
        --radius: 16px;
        --radius-button: 16px;
        --radius-input: 16px;
    }
}

@media only screen and (orientation: portrait) {
    :root {
        --shadow: 0px 2vw 2vw #00000020;
        --radius: 4vw;
        --radius-button: 4vw;
        --radius-input: 4vw;
    }
}

@keyframes FadeAnimation {
    from {
        /*backdrop-filter: blur(0);*/
        opacity: 0;
    }

    to {
        /*backdrop-filter: var(--blur);*/
        opacity: 1
    }
}