:root {
    --bg1: #161321;
    --bg2: #27233f;
    --bg3: #E7A382;
    --text: white;
    --text2: #202020;
    --code: #FFFFFF20;
    --effect: brightness(125%);
    --bg-effect: brightness(50%);

    --cbg: var(--bg1);
    --cwi: var(--bg2);
    --clk: var(--bg1);
    --cho: var(--bg3);
    --ctxt: var(--text);
    --ctt: var(--text);
}

@keyframes Blur {
    from {
        filter: blur(25px);
    }

    to {
        filter: blur(0);
    }
}

@keyframes mslidein {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0%);
    }
}

@keyframes Hewwo {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0%);
    }
}