:root {
  --bgimg: #101010;
  --background: #181825;
  --widget: #313244;
  --hover: #8d304c;
  --text: white;
  --title: var(--text);
  --blur: blur(20px);
  --filter: none;
  --trans: all ease-out 0.25s;
  --radius-widget: 16px;
  --radius-button: 9999px;
  --radius-input: 16px;
}
